@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-hue: 245deg;
  --primary-saturation: 93%;
  --primary-lightness: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

main > h1 {
    padding: 2rem 0 2rem 0;
}